<footer class="mdl-mini-footer mdl-color--black">    
  <!-- Spacer to replace left section of mdl-minifooter -->
  <div class="mdl-layout-spacer"></div>  
  <!-- <div> inside to arrange elements in the center -->
  <div align="center">
    
    <div style="color:white;">
      <!-- Self updating copyright year -->
      <p>&copy<script>document.write(new Date().getFullYear())</script> by Clemson Esports</p>
    </div>

    <div>
      <button class="mdl-button mdl-js-button mdl-button--icon">
        <a href="https://twitter.com/clemsonesports" class="clemson-orange-text">
          <ion-icon name="logo-twitter"></ion- icon></a>
      </button>
        
      <button class="mdl-button mdl-js-button mdl-button--icon">
        <a href="https://www.twitch.tv/clemson_esports" class="clemson-orange-text">
          <ion-icon name="logo-twitch"></ion-icon></a>
      </button>
        
      <button class="mdl-button mdl-js-button mdl-button--icon">
        <a href="https://www.instagram.com/clemsonesports/" class="clemson-orange-text">
          <ion-icon name="logo-instagram"></ion-icon></a>
      </button>
        
      <button class="mdl-button mdl-js-button mdl-button--icon">
        <a href="mailto:esports@clemson.edu" class="clemson-orange-text">
          <ion-icon name="mail"></ion-icon></a>
      </button>  
    </div>    
  </div>
    <!-- Spacer to replace right section of mdl-minifooter sections -->
      <div class="mdl-layout-spacer"></div>
  </footer>
