<div class="container">
    <div class="section">
        <div class="row" style="margin-top: 30px;">
            <div class="col s12 m4 center">
                <a href="https://facebook.com/clemson-esports" target="_blank"
                    class="btn-floating btn-large waves-effect clemson-orange" style="width: 125px; height: 125px;">
                    <h2>
                        <ion-icon name="logo-facebook"></ion-icon>
                    </h2>
                </a>
            </div>
            <div class="col s12 m4 center">
                <a href="https://twitter.com/clemsonesports" target="_blank" class="btn-floating btn-large waves-effect clemson-orange"
                    style="width: 125px; height: 125px;">
                    <h2>
                        <ion-icon name="logo-twitter"></ion-icon>
                    </h2>
                </a>
            </div>
            <div class="col s12 m4 center">
                <a href="https://instagram.com/clemsonesports" target="_blank"
                    class="btn-floating btn-large waves-effect clemson-orange" style="width: 125px; height: 125px;">
                    <h2>
                        <ion-icon name="logo-instagram"></ion-icon>
                    </h2>
                </a>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer black">
    <div class="footer-copyright">
        <div class="container">
            &copy; by 2022 Clemson Esports.
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="public/js/init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>