<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">&copy; <%= new Date().getFullYear(); %> Clemson Esports</div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </div>
</footer>