<header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><a style="text-decoration:none;color:white;" href="/"><img src="/public/images/navbar-logo.png" alt="Loading..." style="height:32px;"></a></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="about">About</a>
            <a class="mdl-navigation__link" href="rosters">Rosters</a>
            <a class="mdl-navigation__link" href="events">Events</a>
            <a class="mdl-navigation__link" href="stream">Stream</a>
            <a class="mdl-navigation__link" href="contact">Contact</a>
            <button type="button" class="mdl-chip">
                <a href="discord" class="clemson-orange-text"><span class="mdl-chip__text">Discord</span></a>
            </button>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <a href="/" class="mdl-typography--text-center" style="text-decoration:none;color:black;"><span class="mdl-layout-title"><img src="/public/images/navbar-logo.png" alt="Loading..." style="height:32px;margin-top:16px;"></span></a>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="about">About</a>
        <a class="mdl-navigation__link" href="rosters">Rosters</a>
        <a class="mdl-navigation__link" href="events">Events</a>
        <a class="mdl-navigation__link" href="stream">Stream</a>
        <a class="mdl-navigation__link" href="contact">Contact</a>
        <a class="mdl-navigation__link" href="discord">Discord</a>
    </nav>
</div>