<%- include('partials/head'); %>
<div class="mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
    <%- include('partials/header'); %>
    <main class="mdl-layout__content">
        <div class="mdl-typography--text-center clemson-esports">
            <h1>Contact Us</h1>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfxFgY6umfhi8tUG-4xxVykFsRBZB2J6OLxmEeQgC-bzGxvJg/viewform?embedded=true" width="640" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </main>
    <%- include('partials/footer'); %>
</div>