<%- include('partials/head'); %>
<div class="mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
    <%- include('partials/header'); %>
    <main class="mdl-layout__content">
        <div class="mdl-typography--text-center clemson-esports">
            <h1>Clemson Esports</h1>


            <iframe src="https://calendar.google.com/calendar/embed?src=c_vv4cquichqn6aehngbfkumst1k%40group.calendar.google.com&ctz=America%2FNew_York" 
                    style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>


        </div>
    </main>
    <%- include('partials/footer'); %>
</div>