<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); %>

    <body>

        <%- include('partials/navbar'); %>

            <div id="index-banner" class="parallax-container">
                <div class="section no-pad-bot">
                    <div class="container">
                        <h2 class="header center white-text" style="margin-top: 1.5em;"><strong>Clemson Esports
                            </strong></h2>
                        <h5 class="center white-text" style="margin-bottom: .75em;">Collegiate Competitive Gaming</h5>
                        <div class="row center">
                            <a href="https://clemson.campuslabs.com/engage/organization/esports" id="download-button"
                                class="btn-large waves-effect waves-light clemson-orange">Join the Club</a>
                            <a href="http://discord.gg/Clemson" id="download-button"
                                class="btn-large waves-effect waves-light white black-text"
                                style="margin-left: 40px;">Our Discord</a>
                        </div>
                    </div>
                </div>
                <div class="parallax">
                    <img src="public/images/main-bg.jpg" alt="Loading..."
                        style="transform: translate3d(-50%, 0px, 0px) !important; opacity: 1;">
                </div>
            </div>


            <div class="container">
                <div class="section">
                    <h2 class="center">About Clemson Esports</h2>
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Collaborative</span>
                                    <p>More than just a competitive eSports Team, Clemson Esports is a community of professional gamers and eSports fans.
                                        What began as a group of friends competing online evolved into a leading Esports Team with the support of reputable sponsors and affiliated organizations.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Engaging</span>
                                    <p>While coming from diverse backgrounds, the players of Clemson Esports are driven by common pursuits; a passion for gaming,
                                        a thirst for competition, and a desire to share our excitement and experiences. </p>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Current State</span>
                                    <p>Clemson Esports started out as a small League of Legends club on campus. We have since grown from a hand full of members to 
                                        several hundred over the course of a couple of years. We have gone on to field many new games and help expand our roster. 
                                        Our players play in front of thousands of viewers on stages around the country. Our club has become a home for all gamers on campus, competitive and casual alike. 
                                        If you love Esports and gaming and want to make friends with fellow students with the same interests, then join the club today. </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- <p>
                <div class="container">
                More than just a competitive eSports Team, Clemson Esports is a community of professional gamers and eSports fans.
                What began as a group of friends competing online evolved into a leading Esports Team with the support of reputable sponsors and affiliated organizations.
                </div>
                <div class="container">
                While coming from diverse backgrounds, the players of Clemson Esports are driven by common pursuits; a passion for gaming,
                a thirst for competition, and a desire to share our excitement and experiences. 
                </div>
                <div class="container">
                Clemson Esports started out as a small League of Legends club on campus. We have since grown from a hand full of members to 
                several hundred over the course of a couple of years. We have gone on to field many new games and help expand our roster. 
                Our players play in front of thousands of viewers on stages around the country. Our club has become a home for all gamers on campus, competitive and casual alike. 
                If you love Esports and gaming and want to make friends with fellow students with the same interests, then join the club today. 
                </div>
            </p> -->
            </div>
        </div>

        <%- include('partials/footer'); %>
    </body>
</html>