<%- include('partials/head'); %>
<div class="mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
<%- include('partials/header'); %>
    <main class="mdl-layout__content">
        <div class="mdl-typography--text-center clemson-esports">
            <h1>Our Streams</h1>
            <!-- Add a placeholder for the Twitch embed -->
            <div id="twitch-embed"></div>

            <!-- Load the Twitch embed JavaScript file -->
            <script src="https://embed.twitch.tv/embed/v1.js"></script>

            <!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->
            <script type="text/javascript">
                new Twitch.Embed("twitch-embed", {
                    width: 854,
                    height: 480,
                    channel: "clemson_esports"
                });
            </script>
        </div>
    </main>
</div>