/*
Before you add to this file, make sure what you're trying to do doesn't currently exist in MDL:
https://getmdl.io/components/index.html
*/

/* MARK: Site-wide theming */
main {
    background-color: #222222;
    
}
* {
    font-family: 'Roboto Mono' !important;
}
.material-icons {
    color: white;
}
.mdl-layout__header-row {
    background: #000;
} 
.clemson-esports {
    padding: 5em;
}
.clemson-esports {
    color: white;
}
/* END Site-wide theming*/

/* MARK: Clemson Colors */
.clemson-orange {
    background-color: #F56600;
}

.clemson-orange-text {
    color: #F56600;
}

.clemson-orange:hover {
    /* This is the Clemson 'Campus Brick' color. */
    background-color: #B94700 !important;
}
/* END Clemson Colors */

/* MARK: Roster Stuff */
.mdl-list__item {
    background-color: black;
    color: white !important;
    border-radius: 50px;
}
/* END: Roster Stuff */

/* MARK: About Stuff */
.about-absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-no-margins{
    padding: 0px;
    margin: 0px;
}
.about-button-container{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.about-image{
    width: 100%;
    padding-top: 30px;
    object-fit: cover;
}

.about-text{
    width: 80%;
}

.about-button{
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
}
.about-button-button{
    width: 100%;
    height: 100%;
}
/* END: About Stuff */