/*
Before you add to this file, make sure what you're trying to do doesn't currently exist in MDL:
https://getmdl.io/components/index.html
*/

/* MARK: Site-wide theming */
main {
    background-color: #222222;
    
}
* {
    font-family: 'Roboto Mono' !important;
}
.material-icons {
    color: white;
}
.mdl-layout__header-row {
    background: #000;
} 
.clemson-esports {
    padding: 5em;
}
.clemson-esports {
    color: white;
}
/* END Site-wide theming*/

/* MARK: Clemson Colors */
.clemson-orange {
    background-color: #F56600;
}

.clemson-orange-text {
    color: #F56600;
}

.clemson-orange:hover {
    /* This is the Clemson 'Campus Brick' color. */
    background-color: #B94700 !important;
}
/* END Clemson Colors */

/* MARK: Roster Stuff */
.mdl-list__item {
    background-color: white;
    border-radius: 50px;
}